<!--banner-->
<div class="page-container">
        <!-- 开始运行滑块 -->  
        <div class="fullwidthbanner-container slider-main">
            <div class="fullwidthabnner">
                <ul id="revolutionul" style="display:none;">            
                        <li data-transition="fade" data-slotamount="8" data-masterspeed="300" data-delay="6400" >
                            <a href="#"> <img src="__PUBLIC__/images/bg6.jpg" alt=""></a>   
                        </li>
                        <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-delay="6400" >
                            <a href="#"><img src="__PUBLIC__/images/bg10.jpg" alt=""></a>
                        </li>
                        <li data-transition="fade" data-slotamount="8" data-masterspeed="300" data-delay="6400" >
                            <a href="#"><img src="__PUBLIC__/images/bg11.jpg" alt=""></a>
                        </li>  
                        <li data-transition="fade" data-slotamount="8" data-masterspeed="300" data-delay="6400" >
                            <a href="#"><img src="__PUBLIC__/images/bg12.jpg" alt=""></a>                        
                        </li>
                        <li data-transition="fade" data-slotamount="8" data-masterspeed="300" data-delay="6400" >
                            <a href="#"><img src="__PUBLIC__/images/bg13.jpg" alt=""></a>                        
                        </li>
                </ul>
                <div class="tp-bannertimer tp-bottom"></div><!--进度条-->
            </div>
        </div>
        <!-- END  运行滑块 -->
</div>
<!--main content-->
<div class="container" style="min-height: 900px;">
    <div class="row">
        <div class="col-md-8 col-xs-12">
            <div class="newest-title">
                最新文章<span>New</span>
            </div>
        </div>
        <div class="col-md-4 col-xs-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="关键字...">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">搜索</button>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-xs-12">
            <volist name="articles" id="v">
            <article>
            <div class="left-content clearfix">
                <div class="article-title col-md-12 col-xs-12">
                    <div class="title-heavy"></div>
                    <h4>{$v.title}</h4>
                </div>
                <div class="article-content center-block">
                    <div class="col-md-4"><img src="__PUBLIC__/images/class1.jpg" style="width:100%"></div>
                    <div class="col-md-8">{$v.plaintxt}</div>
                </div>
                <div class="article-desc">
                    <div class="col-md-10">
                    <ul>
                        <li data-toggle="tooltip" data-placement="right" title="发布日期"><i
                                class="glyphicon glyphicon-time"></i>&nbsp;{$v.create_time}
                        </li>
                        <li data-toggle="tooltip" data-placement="right" title="标签"><i
                                class="glyphicon glyphicon-tag"></i>&nbsp;{$v.cname.cname}
                        </li>
                        <li data-toggle="tooltip" data-placement="right" title="浏览"><i
                                class="glyphicon glyphicon-eye-open"></i>&nbsp;{$v.rnum}
                        </li>
                    </ul>
                    </div>
                    <a href="#" class="col-md-2"><button class="btn btn-primary">查看全文</button></a>
                </div>
            </div>
        </article>
            </volist>
            {$page}
        </div>
        <include file="Layout:side"/>
    </div>
</div>
<!--sidebar-->