<!--footer-->
<!-- <div class="toolbar">
    <a href="javascript:;" class="toolbar-item">
        <span class="toolbar-btn">
            <i class="toolbar-icon icon-wechat"></i>
            <span class="toolbar-text">公众<br>账号</span>
        </span>
        <span class="toolbar-layer toolbar-layer-weixin"></span>
    </a>
    <a href="mailto:tangchunlinit@163.com" class="toolbar-item">
        <span class="toolbar-btn">
            <i class="toolbar-icon icon-mail"></i>
            <span class="toolbar-text">意见<br>反馈</span>
        </span>
    </a>
    <a id="backTop" href="javascript:;" class="toolbar-item">
        <span class="toolbar-btn">
            <i class="toolbar-icon icon-shift"></i>
            <span class="toolbar-text">返回<br>顶部</span>
        </span>
    </a>
</div> -->
<footer id="footer">
    <div class="footer-content">
        <nav class="inner">
            <aside id="describe" class="group">
                <h3>简介</h3>
                <p class="describe-text">
                    以用户为中心的设计理念，专注于用户体验设计，拥有国内外最新的设计潮流趋势、独特而美的创意视觉、新颖而灵敏的思维意识、极致而生动的交互体验，更有严谨而通俗的技术教程！
                </p>
            </aside>
            <aside id="footer-null" class="group"></aside>
            <aside id="social" class="group">
                <h3>关注</h3>
                <ul>
                    <li>Email:<a href="mailto:tangchunlinit@163.com">tangchunlinit@163.com<a></li>
                    <li class="social-icon">
                        
                        <a class="icon-wechat" href="#"></a>
                        <a class="icon-weibo" target="_blank" href="#"></a>
                        <a class="icon-qq" target="_blank" href="#"></a>
                    </li>
                </ul>
            </aside>
        </nav>
        <section class="site-info">
            <p class="copyright">
                Copyright&copyright;2015-2016 by Companion All Rights Reserved. 京ICP备12073831号-1
            </p>
        </section>
    </div>
</footer>
<script type="text/javascript" src="__PUBLIC__/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/jquery.themepunch.revolution.min.js"></script> 
    <script type="text/javascript" src="__PUBLIC__/js/jquery.bxslider.min.js"></script>
    <script src="__PUBLIC__/js/app.js"></script>
    <script src="__PUBLIC__/js/index.js"></script> 
    <script type="text/javascript">
        jQuery(document).ready(function() {
            App.init();    
            App.initBxSlider();
            Index.initRevolutionSlider();                    
        });
    </script>
</body>
</html>