<div class="col-md-4 col-xs-12">
            <div class="canvas-block">
                <div id="timer">
                    <canvas id="canvas"></canvas>
                </div>
            </div>
            <div class="click-top">
                <div class="title-top">
                    <i class="glyphicon glyphicon-align-justify"></i>&nbsp;&nbsp;点击排行<span>Top</span>
                </div>
                <div class="click-top-list">
                    <p><i class="glyphicon glyphicon-signal top-1"></i><span>互联网创业潮流越来越猛互联网创业互联网创业联...<span></p>
                    <p><i class="glyphicon glyphicon-signal top-2"></i><span>互联网创业潮流越来越猛互联网创业互联网创业联...<span></p>
                    <p><i class="glyphicon glyphicon-signal top-3"></i><span>互联网创业潮流越来越猛互联网创业互联网创业联...<span></p>
                    <p><i class="glyphicon glyphicon-signal top-4"></i><span>互联网创业潮流越来越猛互联网创业互联网创业联...<span></p>
                    <p><i class="glyphicon glyphicon-signal top-5"></i><span>互联网创业潮流越来越猛互联网创业互联网创业联...<span></p>
                    <p><i class="glyphicon glyphicon-signal top-6"></i><span>互联网创业潮流越来越猛互联网创业互联网创业联...<span></p>
                    <p><i class="glyphicon glyphicon-signal top-7"></i><span>互联网创业潮流越来越猛互联网创业互联网创业联...<span></p>
                </div>
            </div>
            <!-- <div class="tools">
                <div class="online-tools">
                    <i class="glyphicon glyphicon-wrench"></i>&nbsp;&nbsp;在线工具
                </div>
                <div class="tools-list">
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <div class="tool-block"><a class="btn btn-default">MD5加密工具</a></div>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <div class="tool-block"><a class="btn btn-default">MD5加密工具</a></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <div class="tool-block"><a class="btn btn-default">MD5加密工具</a></div>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <div class="tool-block"><a class="btn btn-default">MD5加密工具</a></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <div class="tool-block"><a class="btn btn-default">MD5加密工具</a></div>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <div class="tool-block"><a class="btn btn-default">MD5加密工具</a></div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="visitor">
                <div class="title-visitor">
                    <i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;最近访客
                </div>
                <div class="visitor-list">
                    <img data-toggle="tooltip" data-placement="top" title="唐春林" src="__PUBLIC__/images/2.jpg">
                    <img data-toggle="tooltip" data-placement="top" title="唐春林" src="__PUBLIC__/images/2.jpg">
                    <img data-toggle="tooltip" data-placement="top" title="唐春林" src="__PUBLIC__/images/2.jpg">
                    <img data-toggle="tooltip" data-placement="top" title="唐春林" src="__PUBLIC__/images/2.jpg">
                    <img data-toggle="tooltip" data-placement="top" title="唐春林" src="__PUBLIC__/images/2.jpg">
                    <img data-toggle="tooltip" data-placement="top" title="唐春林" src="__PUBLIC__/images/2.jpg">
                    <img data-toggle="tooltip" data-placement="top" title="唐春林" src="__PUBLIC__/images/2.jpg">
                    <img data-toggle="tooltip" data-placement="top" title="唐春林" src="__PUBLIC__/images/2.jpg">
                    <img data-toggle="tooltip" data-placement="top" title="唐春林" src="__PUBLIC__/images/2.jpg">
                    <img data-toggle="tooltip" data-placement="top" title="唐春林" src="__PUBLIC__/images/2.jpg">
                    <img data-toggle="tooltip" data-placement="top" title="唐春林" src="__PUBLIC__/images/2.jpg">
                    <img data-toggle="tooltip" data-placement="top" title="唐春林" src="__PUBLIC__/images/2.jpg">
                    <img data-toggle="tooltip" data-placement="top" title="唐春林" src="__PUBLIC__/images/2.jpg">
                    <img data-toggle="tooltip" data-placement="top" title="唐春林" src="__PUBLIC__/images/2.jpg">
                    <img data-toggle="tooltip" data-placement="top" title="唐春林" src="__PUBLIC__/images/2.jpg">
                    <img data-toggle="tooltip" data-placement="top" title="唐春林" src="__PUBLIC__/images/2.jpg">
                </div>
            </div>
            <div class="new-mutual-title">
                <div class="title-friend-link">
                    <i class="glyphicon glyphicon-random"></i>&nbsp;&nbsp;最新互动
                </div>
                <div class="friend-link-list new-mutual">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a style="border-left:none;border-top: none;color:#000" href="#home" aria-controls="home" role="tab" data-toggle="tab">最新评论</a></li>
                        <li role="presentation"><a style="border-top:none;border-radius: 0;color:#000" href="#profile" aria-controls="profile" role="tab" data-toggle="tab">最新留言</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <div class="col-md-12 col-xs-12">
                                <div class="col-md-4 col-xs-6" style="padding-left:0;padding-right: 5px;;margin-left: -10px;">
                                    <img src="__PUBLIC__/images/2.jpg">
                                </div>
                                <div class="col-md-8 col-xs-12" style="padding-left:0;margin-left: -30px;">
                                    <div class="message-uname">
                                        <i class="glyphicon glyphicon-comment"></i>&nbsp;&nbsp;virtual
                                    </div>
                                    <div class="message-txt">
                                        <span>文章</span>&nbsp;&nbsp;借用了，感谢博主...
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-xs-12">
                                <div class="col-md-4 col-xs-4" style="padding-left:0;padding-right: 5px;;margin-left: -10px;">
                                    <img src="__PUBLIC__/images/2.jpg">
                                </div>
                                <div class="col-md-8 col-xs-12" style="padding-left:0;margin-left: -30px;">
                                    <div class="message-uname">
                                        <i class="glyphicon glyphicon-comment"></i>&nbsp;&nbsp;virtual
                                    </div>
                                    <div class="message-txt">
                                        <span>文章</span>&nbsp;&nbsp;借用了，感谢博主...
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-xs-12">
                                <div class="col-md-4 col-xs-4" style="padding-left:0;padding-right: 5px;;margin-left: -10px;">
                                    <img src="__PUBLIC__/images/2.jpg">
                                </div>
                                <div class="col-md-8 col-xs-12" style="padding-left:0;margin-left: -30px;">
                                    <div class="message-uname">
                                        <i class="glyphicon glyphicon-comment"></i>&nbsp;&nbsp;virtual
                                    </div>
                                    <div class="message-txt">
                                        <span>文章</span>&nbsp;&nbsp;借用了，感谢博主...
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-xs-12">
                                <div class="col-md-4 col-xs-4" style="padding-left:0;padding-right: 5px;;margin-left: -10px;">
                                    <img src="__PUBLIC__/images/2.jpg">
                                </div>
                                <div class="col-md-8 col-xs-12" style="padding-left:0;margin-left: -30px;">
                                    <div class="message-uname">
                                        <i class="glyphicon glyphicon-comment"></i>&nbsp;&nbsp;virtual
                                    </div>
                                    <div class="message-txt">
                                        <span>文章</span>&nbsp;&nbsp;借用了，感谢博主...
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-xs-12">
                                <div class="col-md-4 col-xs-4" style="padding-left:0;padding-right: 5px;;margin-left: -10px;">
                                    <img src="__PUBLIC__/images/2.jpg">
                                </div>
                                <div class="col-md-8 col-xs-12" style="padding-left:0;margin-left: -30px;">
                                    <div class="message-uname">
                                        <i class="glyphicon glyphicon-comment"></i>&nbsp;&nbsp;virtual
                                    </div>
                                    <div class="message-txt">
                                        <span>文章</span>&nbsp;&nbsp;借用了，感谢博主...
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile">
                            <div class="col-md-12 col-xs-12">
                                <div class="col-md-4 col-xs-6" style="padding-left:0;padding-right: 5px;;margin-left: -10px;">
                                    <img src="__PUBLIC__/images/2.jpg">
                                </div>
                                <div class="col-md-8 col-xs-12" style="padding-left:0;margin-left: -30px;">
                                    <div class="message-uname">
                                        <i class="glyphicon glyphicon-comment"></i>&nbsp;&nbsp;virtual
                                    </div>
                                    <div class="message-txt">
                                        借用了，感谢博主...
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-xs-12">
                                <div class="col-md-4 col-xs-6" style="padding-left:0;padding-right: 5px;;margin-left: -10px;">
                                    <img src="__PUBLIC__/images/2.jpg">
                                </div>
                                <div class="col-md-8 col-xs-12" style="padding-left:0;margin-left: -30px;">
                                    <div class="message-uname">
                                        <i class="glyphicon glyphicon-comment"></i>&nbsp;&nbsp;virtual
                                    </div>
                                    <div class="message-txt">
                                        借用了，感谢博主...
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-xs-12">
                                <div class="col-md-4 col-xs-6" style="padding-left:0;padding-right: 5px;;margin-left: -10px;">
                                    <img src="__PUBLIC__/images/2.jpg">
                                </div>
                                <div class="col-md-8 col-xs-12" style="padding-left:0;margin-left: -30px;">
                                    <div class="message-uname">
                                        <i class="glyphicon glyphicon-comment"></i>&nbsp;&nbsp;virtual
                                    </div>
                                    <div class="message-txt">
                                        借用了，感谢博主...
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-xs-12">
                                <div class="col-md-4 col-xs-6" style="padding-left:0;padding-right: 5px;;margin-left: -10px;">
                                    <img src="__PUBLIC__/images/2.jpg">
                                </div>
                                <div class="col-md-8 col-xs-12" style="padding-left:0;margin-left: -30px;">
                                    <div class="message-uname">
                                        <i class="glyphicon glyphicon-comment"></i>&nbsp;&nbsp;virtual
                                    </div>
                                    <div class="message-txt">
                                        借用了，感谢博主...
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-xs-12">
                                <div class="col-md-4 col-xs-6" style="padding-left:0;padding-right: 5px;;margin-left: -10px;">
                                    <img src="__PUBLIC__/images/2.jpg">
                                </div>
                                <div class="col-md-8 col-xs-12" style="padding-left:0;margin-left: -30px;">
                                    <div class="message-uname">
                                        <i class="glyphicon glyphicon-comment"></i>&nbsp;&nbsp;virtual
                                    </div>
                                    <div class="message-txt">
                                        借用了，感谢博主...
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="friend-link">
                <div class="title-friend-link">
                    <i class="glyphicon glyphicon-link"></i>&nbsp;&nbsp;友情链接
                </div>
                <div class="friend-link-list">
                    
                </div>
            </div>
        </div>