<link media="all" rel="stylesheet" type="text/css" href="__PUBLIC__/simditor/styles/simditor.css">
<script type="text/javascript" src="__PUBLIC__/simditor/scripts/module.js"></script>
<script type="text/javascript" src="__PUBLIC__/simditor/scripts/hotkeys.js"></script>
<script type="text/javascript" src="__PUBLIC__/simditor/scripts/uploader.js"></script>
<script type="text/javascript" src="__PUBLIC__/simditor/scripts/simditor.js"></script>
        <!-- /.aside -->
        <section id="content">
          <section class="vbox">
            <section class="scrollable padder">
              <div class="m-b-md"></div>
              <section class="panel panel-default">
                <form class="bs-example form-horizontal" action="{:U('Blog/addone')}" method="post">
                  <div class="row wrapper">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label class="col-lg-1 control-label">标题</label>
                        <div class="col-lg-11">
                          <input type="text" required name="title" class="form-control m-b">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row wrapper">
                    <div class="col-sm-12">
                    <div class="form-group">
                      <label class="col-lg-1 control-label">内容</label>
                      <div class="col-lg-11">
                        <textarea id="editor" name="content" placeholder="这里输入内容" autofocus></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="row wrapper">
                    <div class="col-sm-12">
                        <div class="form-group">
                          <div class="col-lg-4 col-sm-offset-1">
                            <button type="reset" class="btn btn-default">取消</button>
                            <button type="submit" class="btn btn-primary">保存</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </form>
              </section>
            </section>
          </section>
          <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
        </section>
<script>
  $(function(){
      toolbar = [ 'title', 'bold', 'italic', 'underline', 'strikethrough',  
            'color', '|', 'ol', 'ul', 'blockquote', 'code', 'table', '|',  
            'link', 'hr', '|', 'indent', 'outdent' ]; 
      var editor = new Simditor({
        textarea: $('#editor'),
        toolbar : toolbar,
      });
  });
</script>