<script>
  var formArticle = angular.module('formArticle', []);

  function formController($scope,$http){
    $scope.formData = {};
    $scope.processForm = function(){
      $http({
        method : 'POST',
        url : '/Admin/Article/create',
        data : $.param($scope.formData),
        headers : {'Content-Type' : 'application/x-www-form-urlencoded'}
      })
        .success(function(data){
          console.log(data);

          if(!data.success){
            $scope.errorTitles = data.errors.atitle;
            $scope.errorCname = data.errors.cid;
            $scope.errorContents = data.errors.contents;
          }else{
            $scope.message = data.message;
          }
        })
    }
  }
</script>
        <!-- /.aside -->
        <section id="content" ng-app="formArticle" ng-controller="formController">
          <section class="vbox">
            <section class="scrollable padder">
              <div class="m-b-md"></div>
              <section class="panel panel-default">
                <div id="message" ng-show="message" ng-class="{'has-error' : errorTitles}"></div>
                <form class="bs-example form-horizontal" name="articleForm" ng-submit="processForm()" ng-controller="formController">
                  <div class="row wrapper">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label class="col-lg-1 control-label">标题</label>
                        <div class="col-lg-11">
                          <input type="text" required name="atitle" class="form-control m-b">
                          <span class="help-block" ng-show="errorTitles">{{errorTitles}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row wrapper">
                    <div class="col-sm-12">
                    <div class="form-group">
                      <label class="col-lg-1 control-label">内容</label>
                      <div class="col-lg-11">
                        <div class="btn-toolbar m-b-sm btn-editor" data-role="editor-toolbar" data-target="#editor">
                          <div class="btn-group">
                            <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="Font"><i class="fa fa-font"></i><b class="caret"></b></a>
                              <ul class="dropdown-menu">
                              </ul>
                          </div>
                          <div class="btn-group">
                            <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="Font Size"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
                              <ul class="dropdown-menu">
                              <li><a data-edit="fontSize 5" style="font-size:24px">Huge</a></li>
                              <li><a data-edit="fontSize 3" style="font-size:18px">Normal</a></li>
                              <li><a data-edit="fontSize 1" style="font-size:14px">Small</a></li>
                              </ul>
                          </div>
                          <div class="btn-group">
                            <a class="btn btn-default btn-sm" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
                            <a class="btn btn-default btn-sm" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
                            <a class="btn btn-default btn-sm" data-edit="strikethrough" title="Strikethrough"><i class="fa fa-strikethrough"></i></a>
                            <a class="btn btn-default btn-sm" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></a>
                          </div>
                          <div class="btn-group">
                            <a class="btn btn-default btn-sm" data-edit="insertunorderedlist" title="Bullet list"><i class="fa fa-list-ul"></i></a>
                            <a class="btn btn-default btn-sm" data-edit="insertorderedlist" title="Number list"><i class="fa fa-list-ol"></i></a>
                            <a class="btn btn-default btn-sm" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="fa fa-dedent"></i></a>
                            <a class="btn btn-default btn-sm" data-edit="indent" title="Indent (Tab)"><i class="fa fa-indent"></i></a>
                          </div>
                          <div class="btn-group">
                            <a class="btn btn-default btn-sm" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
                            <a class="btn btn-default btn-sm" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>
                            <a class="btn btn-default btn-sm" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></a>
                            <a class="btn btn-default btn-sm" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></a>
                          </div>
                          <div class="btn-group">
                            <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="Hyperlink"><i class="fa fa-link"></i></a>
                            <div class="dropdown-menu">
                              <div class="input-group m-l-xs m-r-xs">
                                <input class="form-control input-sm" placeholder="URL" type="text" data-edit="createLink"/>
                                <div class="input-group-btn">
                                  <button class="btn btn-default btn-sm" type="button">Add</button>
                                </div>
                              </div>
                            </div>
                            <a class="btn btn-default btn-sm" data-edit="unlink" title="Remove Hyperlink"><i class="fa fa-cut"></i></a>
                          </div>
                          
                          <div class="btn-group hide">
                            <a class="btn btn-default btn-sm" title="Insert picture (or just drag & drop)" id="pictureBtn"><i class="fa fa-picture-o"></i></a>
                            <input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" />
                          </div>
                          <div class="btn-group">
                            <a class="btn btn-default btn-sm" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></a>
                            <a class="btn btn-default btn-sm" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="fa fa-repeat"></i></a>
                          </div>
                        </div>
                        <textarea id="editor" class="form-control" name="contents" style="overflow:scroll;height:250px;max-height:250px"></textarea>
                        <span class="help-block" ng-show="errorTitles">{{errorContents}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="row wrapper">
                    <div class="col-sm-12">
                        <div class="form-group">
                          <div class="col-lg-4 col-sm-offset-1">
                            <button type="reset" class="btn btn-default">取消</button>
                            <button type="submit" class="btn btn-primary">保存</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </form>
              <pre>{{formData}}</pre>
              </section>
            </section>
          </section>
          <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
        </section>