<section id="content">
          <section class="vbox">
            <section class="scrollable wrapper-lg">
              <div class="row">
                <div class="col-sm-12">
                  <div class="row">
                  <div class="col-sm-5 m-b-xs button-group">
                    <a href="{:U('Admin/Blog/create')}"><button class="btn btn-sm btn-success">写日志</button><a>
                    <button class="btn btn-sm btn-danger">删除</button>                
                  </div>
                </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="blog-post">                   
                    <div class="post-item">
                      <div class="post-media">
                        <img src="__PUBLIC__/admin/images/m42.jpg" class="img-full">
                      </div>
                      <div class="caption wrapper-lg">
                        <h2 class="post-title"><a href="#">7 things you need to know about the flat design</a></h2>
                        <div class="post-sum">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat. 
                          <br><br>
                          Phasellus at ultricies neque, quis malesuada augue. Donec eleifend condimentum nisl eu consectetur. Integer eleifend, nisl venenatis consequat iaculis, lectus arcu malesuada sem, dapibus porta quam lacus eu neque.</p>
                        </div>
                        <div class="line line-lg"></div>
                        <div class="text-muted">
                          <i class="fa fa-user icon-muted"></i> by <a href="#" class="m-r-sm">Admin</a>
                          <i class="fa fa-clock-o icon-muted"></i> Feb 20, 2013
                          <a href="#" class="m-l-sm"><i class="fa fa-comment-o icon-muted"></i> 2 comments</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-center m-t-lg m-b-lg">
                    <ul class="pagination pagination-md">
                      <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                      <li class="active"><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#">4</a></li>
                      <li><a href="#">5</a></li>
                      <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </section>
          </section>
          <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
        </section>