<script type="text/javascript" src="__PUBLIC__/admin/blog/app.js"></script>
<section id="content" ng-app="blogApp" ng-controller="blogCrtl">
          <section class="vbox">
            <section class="scrollable wrapper-lg" ng-repeat="blog in filtered = blogs | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
              <div class="row">
                <div class="col-sm-12">
                  <div class="row">
                  <div class="col-sm-5 m-b-xs button-group">
                    <a href="{:U('Admin/Blog/create')}"><button class="btn btn-sm btn-success">写日志</button><a>
                    <button class="btn btn-sm btn-danger">删除</button>                
                  </div>
                </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="blog-post">                   
                    <div class="post-item">
                      <div class="caption wrapper-lg">
                        <h2 class="post-title">{{blog.title}}</h2>
                        <div class="post-sum" ng-bind-html="blog.content | trustHtml">
                        </div>
                        <div class="line line-lg"></div>
                        <div class="text-muted">
                          <i class="fa fa-user icon-muted"></i> by <a href="#" class="m-r-sm">Admin</a>
                          <i class="fa fa-clock-o icon-muted"></i>{{blog.create_time}}
                          <i class="fa fa-comment-o icon-muted"></i> 2 comments
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12" ng-show="filteredItems == 0">
                    <div class="col-md-12">
                        <p style="text-align: center;padding: 10px">没有日志</p>
                    </div>
                </div>
                <div class="col-sm-4 text-right pull-right text-center-xs" ng-show="filteredItems > 0">    
                  <div pagination="" page="currentPage" on-select-page="setPage(page)" boundary-links="true" total-items="filteredItems" items-per-page="entryLimit" class="pagination-small" previous-text="&laquo;" next-text="&raquo;"></div>
            </div>
              </div>
            </section>
          </section>
          <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
        </section>