<style>
  .panel {
      width: 50%;
      margin: 10% auto;
      text-align: center;
      min-height: 200px;
  }
  #growthrate {
    font-size: 18px;
    line-height: 150px;
  }
  .success-icon{
    color : #1ab667;
  }
</style>
<section id="content">
          <section class="wrapper">
          <div class="m-b">
            <span class="h3 font-thin"><i class="i i-arrow-left3"></i></span> 
          </div>
          <section class="panel panel-default">
            <header class="panel-heading">
                提示信息
            </header>
            <div class="table-responsive" id="growthrate">
                  <i class="icon-check success-icon"></i>&nbsp;&nbsp;操作成功,页面自动 <a id="href" href="#">跳转</a> 等待时间： <b id="wait">2</b>
            </div>
          </section>
        </section>
          <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
</section>